*{
    /* font-family: "Work Sans", sans-serif; */
    box-sizing: border-box; 
    padding :0;
    margin: 0;
    /* font-family: "Roboto", sans-serif; */ 
   
    border: 0;   
    text-decoration: none;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
} 

header nav{
    
    /* thanh ngang nav trong trang*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0 100px ;
    box-sizing: border-box;
    background: #ffffffa1;
    box-shadow: 0 1 ;
    /* position: absolute; */
    }
.brand h2 a{
    /*logo trong nav của trang*/
    float: left ;
    height: 100%;
    line-height: 68px; 
    color: rgb(0, 0, 0);
    text-indent: -60px;
    font-size: 22px;
    text-decoration: none;
    
}
/* .menu ul {
  
    
} */
.menu ul li{
    /* điều chỉnh khích thước vị trí của menu*/
    font-size: 14px;
    float: left;
    display: flex;
    /* font-family: "Courier New", Courier, monospace; */
    /* font-family: Arial, Helvetica, sans-serif; */


}
.menu ul li a{
    /* điều chỉnh khoảng cách, màu*/
    position: relative;
    display: block;
    height: 80px;
    line-height: 70px;
    padding: 0 19px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    text-decoration: none;
    /* text-transform: uppercase; */
    transition: 0.5s
    /* height: 100px; */
    
}  
.menu ul li a:before{
    /* chỉnh hiệu ứng khi trỏ vào thẻ*/
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 87%;
    background: rgb(114, 113, 113);
    transform-origin: right;
    z-index: -1;
    transform: scaleX(0);
    transition:  transform 0.5s;
}
.menu ul li a:hover:before{
    /*trước khi trỏ vào hiệu ứng*/
    transform-origin: left;
    transform: scaleX(1);
}
.menu ul li a:hover{
    /* sau khi trỏ*/
    color: #fff9f9;
}

.slide ul li{
    /* vị trí kích thước*/
    font-size: 14px;
    display: flex;
    height: 1px;
    line-height: 40px;
    /* display:table; */
    float: right;
    position: relative;
    left: 45px;
    

}
.slide ul li a{
    /* khoảng cách của 2 thẻ a*/
    /* font-family: Arial, Helvetica, sans-serif; */
    padding: 15px;
    text-decoration: none;
    color: black;
}

.slide ul li a:before{
    content: '';
    position: absolute;
    top: 45px;
    left: 14px;
    width: 67%;
    height: 87%;
    background: rgb(22, 21, 21);
    transform-origin: right;
    z-index: -1;
    transform: scaleX(0);
    transition:  transform 0.5s;
}
.slide ul li a:hover:before{
    transform-origin: left;
    transform: scaleX(1);

}
.slide ul li a:hover{
    color: #070707;

}
.search{
    float: right;
    font-size: 14px;
    display: flex;
    line-height: 70px;
    display:table;
    position: absolute;
    left: 1135px;
    height: auto;
}
/* footer */


footer{
    
    width: 100%;
    height: auto;
    padding: 25px 50px;
    background:#eeeeeea1;
    /* /* display: flex; */
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    bottom: -100px;
} 

.social-icon li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
   
}

.social-icon li a .fa{
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.social-icon{
    display: flex;
    list-style: none;
}
.footer_content{
    font-weight: 500;
    margin-bottom: 15px;

}
.footer_span{
    margin-bottom: 10px;
}
.footer_right_top{
    display: flex;
    margin-bottom: 13px;
}
.icon_call{
    margin-right: 13px;
}
.footer_right_bottum{
    display: flex;
}
.icon_gmail{
    margin-right: 13px;
}
@media (max-width: 600px) {
    #fix_footer{
        position:relative;
        left: 50px;

    }
    #fix_footer_bottum{
        position:relative;
        left: 20px;
        top: 30px;
        margin-bottom: 50px;
    }
}
.cha hr{
    
    position:absolute;
    top:450px;
    left:160px;
    

}
.cha h2{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
.cha pre{
    
    font-size: 17px;
    color: #808080;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.flex_container h4{
    margin-left:198px;
}
.flex_container article span {
    display: flex;
    justify-content: center ;
    
    
}
article .content ul{
    margin-left: 250px;

}